<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">UserAPP</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">User</a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item text-nowrap">
        <a class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
